@import "~bootstrap/scss/bootstrap.scss";
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}
.container {
    background-color: black;
}
.numero {
    background-color: #2C3E50;
}